header {
    /*background-image: linear-gradient(to bottom right, #283747, #FF69B4);*/
    background-color: #FF69B4;
    padding: 21px;
    padding-right: 21px;
    padding-left: 21px;
    flex-direction: row;
    display: flex !important;
    justify-content: space-between;
    position:fixed;
    width:100%;
    z-index: 999;
}
.Logo {
    height: 30px;
    width: 30px;
    vertical-align: middle !important;
}

.logo-link {
    text-decoration: none !important;
    color: #283747 !important;
}

.logo-text {
    padding-left: 11px;
    font-size: 18px;
    vertical-align: middle !important;
}

.cart-logo {
    height: 30px;
    width: 30px;
    vertical-align: middle !important;
}

.cart {
    text-decoration: none !important;
    color: #283747;
}
span.my-cart {
    padding-left: 5px;
    vertical-align: middle !important;
}

.cart:hover {
  color: white;  
}